<!-- .contact -->
<div id="contact" class="content_2">
        
<h1 class="h-bloc">Contactame</h1>


<div class="row">

    <div class="col-lg-12">
        <!-- <div id="map"></div> -->
    </div>  

    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                    <div class="title_content" style="float: none;">
                        <div class="text_content">Información de Contacto</div>
                        <div class="clear"></div>
                    </div>

                    <ul>
                        <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Ubicación:</span> La Paz, Bolivia<br /><br /></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> olzarate251@gmail.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Telefono:</span> +591 79626383</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span> https://oswaldozarate.github.io</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-comment"></i> Blog-Personal:</span> https://oswaldozarate.github.io/blog</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-thumbs-up"></i> PortFolio Proyectos:</span> https://walozarate.github.io</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-unchecked"></i> PortFolio de formación:</span>https://oswaldozarate.github.io/formacion</li>
                    </ul>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

                <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                <div class="title_content tiltle_contacts" style="float: none;">
                    <div class="text_content">Puedes encontrarme en:</div>
                    <div class="clear"></div>
                </div>


                <!--Boton De WhatsApp -->


                <div id="whatsapp-icon" style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
                <a href="https://api.whatsapp.com/send?phone=59179626383">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50"></a>
                </div>



                    <div id="profile_social">
                        <a href="https://facebook.com/osvaldo.zarate.77" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/walozarate" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://linkedin.com/in/ozarate" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/walozarate" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a> 
                        <a href="https://telegram.com" target="_blank"><i class="fa fa-telegram"></i></a> 
                        
                        

                       <!-- <a href="#"><i class="fa fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-foursquare"></i></a>
                        <div class="clear"></div> -->
                    </div>
      


            </div>

            <div class="col-md-7">
                <!-- Contact Form -->
                <div class="title_content" style="float: none;">
                    <div class="text_content">Enviame un mensaje</div>
                    <div class="clear"></div>
                </div>

                <div class="contact-form">
                    <!--<h3 class="main-heading"><span>Let's keep in touch</span></h3>-->



                    <div id="contact-status"></div>

                    <form action="#" id="contactform">
                        <p class="form-group" id="contact-name">
                            <label for="name">Tu nombre</label>
                            <input type="text" name="name" class="form-control name-contact" id="inputSuccess" placeholder="Name..." />
                        </p>
                        <p class="form-group" id="contact-email"> 
                            <label for="email">Tu Email</label>
                            <input type="text" name="email" class="form-control email-contact" id="inputSuccess" placeholder="Email..." />
                        </p>

                        <p class="form-group" id="contact-message">
                            <label for="message">Tu Mensaje</label>
                            <textarea name="message" cols="88" rows="6" class="form-control message-contact" id="inputError" placeholder="Message..."></textarea>
                        </p>
                        <input type="reset" name="reset" value="CLEAR" class="reset">
                        <!-- <input type="submit" name="submit" value="SEND MESSAGE" class="submit">-->

                        <section class="button-demo" style="display: inline-block;">
                            <button class="ladda-button submit send_email" name="submit" data-color="green" data-style="expand-left">ENVIAR MENSAJE</button>
                        </section>

                    </form>
                </div>
                <!-- /Contact Form -->
            </div>
        </div>
    </div>  

</div>                                            
</div>
    <!-- End .contact -->