<div id="contact" class="content_2">
        
    <h1 class="h-bloc">Contact - Contact Me</h1>
    
    
    <div class="row">
    
        <div class="col-lg-12">
            <div id="map"></div>
        </div>  
    
        <div class="col-lg-12">
            <div class="row" id="contact-user">
                <div class="col-md-5">
                    <div class="contact-info">
                        <!--<h3 class="main-heading"><span>Contact info</span></h3>-->
    
                        <div class="title_content" style="float: none;">
                            <div class="text_content">Contact info</div>
                            <div class="clear"></div>
                        </div>
    
                        <ul>
                            <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Adress:</span> San Francisco , CA.<br /><br /></li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> brown.smith@gmail.com</li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Phone:</span> +123 456 789 111</li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span> www.brown-smith.com</li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-comment"></i> Skype:</span> brown-smith-skype</li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-thumbs-up"></i> G. Drive:</span> brown-s-gm@gmail.com</li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-unchecked"></i> Skydrive:</span> brown-s-sk@hotmail.com</li>
                        </ul>
                    </div>
                    <!-- /Contact Info -->
                    <div class="clear"></div>
    
                    <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->
    
                    <div class="title_content tiltle_contacts" style="float: none;">
                        <div class="text_content">Follow me</div>
                        <div class="clear"></div>
                    </div>
    
                
    
                        <div id="profile_social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-foursquare"></i></a>
                            <div class="clear"></div>
                        </div>
          
    
    
                </div>