<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Habilidades - Información Personal</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">HABILIDADES - BIG DATA</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Big Data ---><a target="_blank" class="fcc-btn" href="https://courses.cognitiveclass.ai/certificates/ca0d25747a124f6e92010736852036a8" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a></span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
                
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Hadoop ----><a target="_blank" class="fcc-btn" href="https://courses.cognitiveclass.ai/certificates/64ec201fe1f849949248e53fe4bc6500" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>SQL ----><a target="_blank" class="fcc-btn" href="https://courses.cognitiveclass.ai/certificates/293af7a0ba254e09812de3a05244717f" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>HIVE</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>NoSQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="45%">
                <div class="skillbar-title"><span>SPARK</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">45%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Habilidades en Machine Learning</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Algoritmos Machine Learning<a target="_blank" class="fcc-btn" href="https://coursera.org/share/dadab96392cdd7469c8f69e0cd63ba9b" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

               <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Machine Learning with Python<a target="_blank" class="fcc-btn" href="https://coursera.org/share/c7e159040e0122850ba4e361b55dbe63" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

                        
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="55%">
                <div class="skillbar-title"><span>R para Ciencia de Datos</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">55%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Web Scraping</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="89%">
                <div class="skillbar-title"><span>PANDAS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">89%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>NUMPY</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>MATPLOTLIB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Scikit-learn</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar --> 
            
        </div>
        

         <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Habilidades en Deep Learning</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>KERAS ---><a target="_blank" class="fcc-btn" href="https://coursera.org/share/466d42631206e5cdfb3142c1dd5754d1" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">750%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>PYTORCH ---><a target="_blank" class="fcc-btn" href="https://coursera.org/share/2943b4d9ee483294774109a1771728611" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->  


            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>TENSORFLOW ---><a target="_blank" class="fcc-btn" href="https://www.credly.com/badges/99ab2aa7-b558-4658-a918-c2221acff421/public_url" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Insignia</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar --> 
                        
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="40%">
                <div class="skillbar-title"><span>Computer Vision --> <a target="_blank" class="fcc-btn" href="https://coursera.org/share/0390e089813fe6bb9a40d1f5f3dfc937" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar --> 


            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="45%">
                <div class="skillbar-title"><span>OpenCV ---> <a target="_blank" class="fcc-btn" href="https://coursera.org/share/0390e089813fe6bb9a40d1f5f3dfc937" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">45%</div>
            </div>
            <!-- /.skillbar --> 
                       
		</div>

         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Habilidades en Programación y Sistemas Operativos</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>JAVA </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>JavaScript/HTML/CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>GitHub</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>LINUX ---> <a target="_blank" class="fcc-btn" href="https://www.netacad.com/portal/profile/1021710343/certi" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span> Windows 10 para IT <a target="_blank" class="fcc-btn" href="https://www.linkedin.com/learning/me/completed" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->


             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>ARDUINO</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>MATLAB </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
                                                      
		</div>
        


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Habilidades Redes y Telecomunicaciones </div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
    <div class="skills">  


        <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Instalador de Fibra Optica <a target="_blank" class="fcc-btn" href="https://capacitateparaelempleo.org/verifica/qejnecslt/
            " onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
        <!-- /.skillbar --> 

            
        <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Especializacion en IT <a target="_blank" class="fcc-btn" href="https://coursera.org/share/1852537ac22ca5351901c4ec63f91491" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Certificación</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
        <!-- /.skillbar --> 

        <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Las Redes Informáticas <a target="_blank" class="fcc-btn" href="https://coursera.org/share/0324c6a71116ecc7bb89a6db19eba0ed" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Certificación</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
        <!-- /.skillbar --> 

        <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Internet de las Cosas <a target="_blank" class="fcc-btn" href="https://www.credly.com/badges/d02c2cf1-3dfa-4815-8d23-2b408b426ebd/public_url" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Certificación</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
        <!-- /.skillbar --> 

         <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>CyberSeguridad --> <a target="_blank" class="fcc-btn" href="https://www.credly.com/badges/cfe4a943-1dd5-4b83-930e-c7f40c7c5cb9/public_url" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Certificación</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
        <!-- /.skillbar --> 

                        
        <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Fundamento al Diseño de Redes</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
        <!-- /.skillbar -->
            
              
	</div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Habilidades Ofimática</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
         <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS EXCEL <a target="_blank" class="fcc-btn" href="https://coursera.org/share/b83907f32d86059832ffe578461977a2" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar --> 
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>MS WORD <a target="_blank" class="fcc-btn" href="https://coursera.org/share/b83907f32d86059832ffe578461977a2" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
             <!-- /.skillbar --> 
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>MS POWER POINT <a target="_blank" class="fcc-btn" href="https://coursera.org/share/b83907f32d86059832ffe578461977a2" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 
                        
		</div>
           
            <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">IDIOMAS</div>
            <div class="clear"></div>
        </div>
            <!-- /.title_content -->
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Speaking English - Elemantary <a target="_blank" class="fcc-btn" href="https://www.futurelearn.com/certificates/rbtelld" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Speaking English - Intermediate <a target="_blank" class="fcc-btn" href="https://www.futurelearn.com/certificates/e4rxzfe" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="55%">
                <div class="skillbar-title"><span>Writing in English <a target="_blank" class="fcc-btn" href="https://coursera.org/share/a4bfe1e705b13aaad17cde5d16de49cc" onClick="window.open(this.href, this.target, 'width=800,height=650'); return false;">Ver Certificado</a> </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">55%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Portugues</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Mi Curriculum-Vitae</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Descargar Mi Curriculum</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experiencia Laboral</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Técnico Digitalizador <span class="duration"><i class="fa fa-calendar color"></i>2012 - 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> AFP-Futuro de Bolivia S.A.</h6>
                <p>Captura, digitalización, validación y monitoreo de información contenida en formularios físicos provenientes de aportantes y asegurados al Sistema Integral de Pensiones. Coordinación con diferentes departamentos para una mejor consevación de los documentos. Organización y trabajo en equipo para lograr objetivos y fechas establecidas.</p>
            </li>

             <li class="first">
                <h5>Técnico Digitalizador <span class="duration"><i class="fa fa-calendar color"></i>2012 - 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> AFP-Futuro de Bolivia S.A.</h6>
                <p>Captura, digitalización, validación y monitoreo de información contenida en formularios físicos provenientes de aportantes y asegurados al Sistema Integral de Pensiones. Coordinación con diferentes departamentos para una mejor consevación de los documentos. Organización y trabajo en equipo para lograr objetivos y fechas establecidas.</p>
            </li>


            <li>
                <h5>Digitador <span class="duration"><i class="fa fa-calendar color"></i> Feb 2012 - Oct 2012</span></h5>
                <h6><span class="fa fa-briefcase"></span> Grupo Creminex SRL</h6>
                <p>Traspaso de información de planillas a bases de datos, a través de sistemas informáticos.</p>
            </li>


             <li>
                <h5>Digitador <span class="duration"><i class="fa fa-calendar color"></i> Ago 2011 - Ene 2012</span></h5>
                <h6><span class="fa fa-briefcase"></span> BestPractices Internacional SA</h6>
                <p>Digitación de información y custodia de documentos.</p>
            </li>


             <li>
                <h5>Cajero <span class="duration"><i class="fa fa-calendar color"></i> Feb 2005 - Ene 2010</span></h5>
                <h6><span class="fa fa-briefcase"></span> Bolimática SRL</h6>
                <p>Encargado de Caja y atención al cliente. Asesoramiento al cliente. Encargado de contratación y supervisión de personal.</p>
            </li>


        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Educación</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5> Ingeniero Electrónico <span class="duration"><i class="fa fa-calendar color"></i> Egresado: 2020</span></h5>
                <h6><span class="fa fa-book"></span> Universidad Tecnológica Boliviana</h6>
                <p>*Participación en calidad de Investigador de artículo Cientifico en el evento denominado "EXPO-INGENIERIA 2018"

                *Participación en calidad de Proyectista en el evento denominado "EXPO-INGENIERIA I-2019"
                
                *PArticipación en la "FERIA DE CIENCIA Y TECNOLOGIA II-2019"
                </p>
            </li>
            <li>
                <h5> AI Engineering (Online) <span class="duration"><i class="fa fa-calendar color"></i> 2020 - 2021</span></h5>
                <h6><span class="fa fa-book"></span> IBM-Coursera</h6>
                <p>Certificado Profesional: El ganador de la insignia ha demostrado competencia en Machine Learning (ML) y Deep Learning (DL). El perceptor comprende varias técnicas de AA, como regresión, clasificación, agrupamiento y sistemas de recomendación. El beneficiario puede crear, probar e implementar modelos DL utilizando bibliotecas como Keras, PyTorch y Tensorflow. El ganador ha completado varios proyectos de ML y DL y ahora está armado con habilidades para comenzar una carrera en Ingeniería de IA.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Premios</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Premio APLAUSO <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2015</span></h5>
                <h6><span class="fa fa-trophy"></span> AFP-FUTURO de BOLIVIA SA</h6>
                <p>Se me otorgo una distinción por el Gerente de Operaciones de la empresa en reconocimiento de lograr superar las expectativas de mi trabajo dia a dia por la determinación y desempeño en la empresa.</p>
            </li>
             
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
     <!--    <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>  --> 
        <!-- /.title_content -->
        

        <!-- <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul> -->
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->